<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <sas.Properties.Settings>
            <setting name="StorageConnectionString" serializeAs="String">
                <value>DefaultEndpointsProtocol=https;AccountName=myaccount;AccountKey=mykey</value>
            </setting>
            <setting name="ContainerName" serializeAs="String">
                <value>mycontainer</value>
            </setting>
            <setting name="SASPolicyName" serializeAs="String">
                <value>mypolicy</value>
            </setting>
            <setting name="FileToUpload" serializeAs="String">
                <value>..\\..\\..\\..\\sampledata\\sample.log</value>
            </setting>
        </sas.Properties.Settings>
    </userSettings>
</configuration>